.boxani {
    opacity: 0;
    transform: translateY(10vh);
    visibility: hidden;
    transition: opacity 2s, transform 2s, visibility 2s;
}
.boxani.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.fontani {
    opacity: 0;
    transition: opacity 2s;
}
.fontani.show {
    opacity: 1;
}

.boxani1 {
    opacity: 0;
    transform: translateX(-20vh);
    transition: opacity 2s, transform 2s;
}
.boxani1.show {
    opacity: 1;
    transform: translateX(0);
}

.boxani2 {
    opacity: 0;
    transform: translateX(20vh);
    transition: opacity 2s, transform 2s, visibility 2s;
}
.boxani2.show {
    opacity: 1;
    transform: translateX(0);
}

@media screen and (max-width: 600px) {
    .boxani3 {
        opacity: 0;
        transition: opacity 2s;
    } 
    .boxani4 {
        transform: translateY(-10vh);
        transition: opacity 2s, transform 2s, visibility 2s;
    }
    .boxani3.show {
        opacity: 1;
    }
    .boxani4.show {
        opacity: 1;
        transform: translateY(0);
    }
}