@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Plus+Jakarta+Sans:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700;800&display=swap');

#myDiv1 {
    font-weight: 700;
}

#myDiv2 {
    font-weight: 800;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 35px;
}

#your-section-id {
    height: 100%;
}

.rounded-box {
    border-radius: 10px;
    overflow: hidden;
}


/* #section1 {
    margin: auto;
    background-color: #435585;
    width: 500;
    color: white;
} */

.header1 {
    display: flex;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

body {
    margin: 0;
    padding: 0;
}

/* #video-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    overflow: hidden;
  } */

#overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    text-align: center;
}

#div1 {
    text-align: center;
}

.slide_item {
    float: left;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    overflow: hidden;
    width: 400px;
}

.slide_box {
    width: 1600px;
    transition: 0.5s;
}

.slide_item {
    float: left;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%
}

.box2 {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    width: 95vw;
    height: 73vh;
    flex-shrink: 0;
    border-radius: 5vh;
    background: #272727;
}

.box2 img {
    width: 50vh;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 3%;
    margin-bottom: 5%;
    border-radius: 25px;
}

.img1 {
    margin-left: auto;
    margin-right: 20%;
    margin-top: 3%;
}

a {
    text-decoration: none;
    color: #4A90EF;
}

a:hover {
    text-decoration: underline;
}
