/* 창의 너비가 600px 이하일 때 모달 컨텐츠의 최대 너비를 800px로 변경 */
@media screen and (max-width: 600px) {
  .modal-content {
    max-width: 80px;
  }
}

/* 창의 너비가 400px 이하일 때 모달 컨텐츠의 최대 너비를 600px로 변경 */
@media screen and (max-width: 400px) {
  .modal-content {
    max-width: 60px;
  }
}

#video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('../video.mp4') no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* 모바일 환경에서의 스타일 */
@media screen and (max-width: 768px) {
  #video-background {
    /* 모바일 환경에서는 비디오가 사이드바까지 확장되도록 설정 */
    min-width: 123%;
    min-height: 123%;
    object-fit: cover;
    overflow: hidden;
  }
}

#video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

#video1,
#video2,
#video3,
#video4,
#video5,
#video6 {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 1vw;
  width: 80%;
  min-width: 300px;
}

#section0 {
  position: relative;
  background-color: #AFD3E2;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
}

#section1 {
  /* height: 100vh; */
  height: 100vh;
  background-color: #1f1717a2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  /* padding: 50px; */
}
/* 
@media screen and (max-width: 600px) {
  #section1 {
    height: 87wh;
  }
} */

#section2 {
  position: center;
  background-color: #F3F8FF;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 5%;
}

#section3 {
  position: center;
  background-color: black;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 50px;
  color: white;
  z-index: -100;
}

#section4 {
  overflow: hidden; /* 섹션4의 내용이 넘치면 숨김 */
  position: center;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 50px;
}

#section5 {
  position: center;
  background-color: #F5F7F8;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 50px;
}

#section6 {
  position: center;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 50px;
}

#section7 {
  position: center;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 50px;
  color: white;
  background-image: url('../video5.png');
  background-size: cover;
  background-position: center;
}

/* @keyframes zoomin {
  0% { transform: scale(1); }
  100% { transform: scale(1.2); }
}

#section7.zoomin > div:first-child {
  animation-name: zoomin;
  animation-duration: 3s;
  animation-direction: alternate;
} */

#section7-1 {
  position: center;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 50px;
}

#section8 {
  position: center;
  /* background-color: #a5a5a5; */
  background-color: #FAEED1;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 50px;
}

h1 {
  background-image: linear-gradient(to right, #ee9ca7, #ffdde1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Nanum Gothic';
  font-size: calc(50px + 1vw)
}

h6 {
  font-size: calc(10px + 1vw);
}

/* 모달의 기본 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  /* padding-top: 100px; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: #000000; */
  background-color: #00000066;
}

/* 모달 콘텐츠의 스타일 */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 0;
  width: 55vw;
  height: 40vw;
  max-width: 100%;
}

.close {
  position: absolute;
  top: 0;
  left: 15%;
  /* 왼쪽 패딩을 20px로 설정 */
  padding: 10px;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.font1 {
  margin-bottom: 3%;
  margin-top: 1%;
  word-break: keep-all;
  opacity: 0;
  transition: opacity 2s;
  font-size: calc(20px + 1vw);
}

.font1.show {
  opacity: 1;
}

.font1-1 {
  margin-top: 7%;
  margin-bottom: 1%;
  font-size: calc(10px + 1vw);
  /* color: #3559E0; */
  color: #0093fd;
}

.font1-2 {
  margin-top: 5%;
  margin-bottom: 1%;
}

.font1-4 {
  margin-top: 3%;
  margin-bottom: 1%;
  font-size: calc(10px + 1vw);
  color: #0094fe;
}

.font1-3 {
  margin-top: 3%;
  margin-bottom: 1%;
  font-size: calc(8px + 1vw);
}

.font2 {
  align-items: flex-end;
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 7%;
  margin-bottom: 3%;
  text-align: left;
  /* word-break: keep-all; */
}

.font2-1 {
  align-items: flex-end;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  text-align: left;
}

.font2-2 {
  align-items: flex-end;
  margin-left: 5%;
  margin-right: 1%;
  margin-bottom: 10%;
  text-align: left;
  word-break: keep-all;
}

.font3 {
  align-items: flex-end;
  /* margin: 15%, 9%, 10%, 9%; 상, 우, 하, 좌 */
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  text-align: left;
  word-break: keep-all;
}

.font4 {
  position: absolute;
  bottom: 10%;
  margin-left: 3%;
  margin-right: 3%;
  text-align: left;
  word-break: keep-all;
}

.font4-1 {
  text-align: left;
  word-break: keep-all;
}

.font5 {
  align-items: flex-end;
  margin-top: 10%;
  text-align: left;
  word-break: keep-all;
}

.font6 {
  align-items: flex-end;
  margin-top: 15%;
  margin-left: 3%;
  margin-bottom: 15%;
  text-align: left;
  word-break: keep-all;
}

.font7 {
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  word-break: keep-all;
  font-size: calc(15px + 1vw); 
  opacity: 0;
  transition: opacity 2s;
}  
.font7.show {
  opacity: 1;
}

.font7-1 {
  margin: 10%;
  margin-top: 5%;
  align-items: center;
  text-align: center;
  word-break: keep-all;
  font-size: calc(18px + 1vw);
}

.font7-2 {
  margin: 10%;
  margin-top: 10%;
  align-items: center;
  text-align: center;
  word-break: keep-all;
  font-size: calc(25px + 1vw);
}

.font8 {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  word-break: keep-all;
  font-size: calc(10px + 1vw);
}

.note {
  color: #6e6e6e;
  font-size: calc(3px + 1vw);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  word-break: keep-all;
}

.fontcolor1 {
  background-image: linear-gradient(to right, #3E8CCF, #cb64ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fontcolor2 {
  background-image: linear-gradient(to right, #EBA858, #7183BD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fontcolor3 {
  background-image: linear-gradient(to right, #65B890, #4190CF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fontcolor4 {
  background-image: linear-gradient(to right, #DE6181, #E89945);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fontcolor5 {
  background-image: linear-gradient(to right, #4AA4BE, #689E4F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fontcolor6 {
  background-image: linear-gradient(to top, #F0995E, #334F8E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#section1 a {
  padding-top: 10vh;
}

#section1 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Nanum Gothic', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: opacity 1s ease-in-out;
  /* 애니메이션 효과 추가 */
  opacity: 0;
}


.control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2em;
  color: rgb(159, 98, 98);
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}
