@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Plus+Jakarta+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700;800&display=swap');

@media screen and (max-width: 600px) {
    body {
        font-size: 20px;
    }
}

/* 창의 너비가 400px 이하일 때 텍스트 크기를 12px로 변경 */
@media screen and (max-width: 400px) {
    body {
        font-size: 15px;
    }
}

#myDiv1 {
    font-weight: 700;
    font-size: calc(20px + 1vw);
}

#myDiv1-1 {
    font-weight: 700;
    font-size: calc(15px + 1vw);
}

#myDiv2 {
    font-weight: 800;
    /* font-size: calc(20px + 1vw); */
}

#info {
    font-size: calc(10px + 1vw);
    padding-bottom: 20px;
}

html {
    overflow-x: hidden;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: calc(13px + 1vw);
}

#your-section-id {
    height: 100%;
}

.rounded-box {
    border-radius: 10px;
    overflow: hidden;
}

#overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.slide_item {
    float: left;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    overflow: hidden;
    width: 100%;
}

.slide_box {
    width: 100%;
    transition: 0.5s;
}

.slide_item {
    float: left;
}

.container {
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* video {
    width: 30%;
} */

/* .container .text {
    width: 50%;
} */

/* 창의 너비가 600px 이하일 때 이미지와 텍스트의 배치 변경 */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

.box1 {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    width: 95vw;
    height: 73%;
    flex-shrink: 0;
    border-radius: 3vw;
    background-image: url('https://github.com/sudo1652/kwai/blob/main/%E1%84%8B%E1%85%B5%E1%86%AB%E1%84%80%E1%85%A9%E1%86%BC%E1%84%8C%E1%85%B5%E1%84%82%E1%85%B3%E1%86%BC%E1%84%8F%E1%85%A5%E1%86%B7%E1%84%91%E1%85%B2%E1%84%90%E1%85%B5%E1%86%BC%E1%84%80%E1%85%AA-NEW2.jpg?raw=true');
    background-size: cover;
    background-position: center;
}

.box1-1 {
    width: 100%;
    height: 100%;
    background-color: #00000096;
    border-radius: 3vw;
}

.box2 {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    width: 95vw;
    height: 73%;
    flex-shrink: 0;
    border-radius: 3vw;
    background-image: url('https://github.com/sudo1652/kwai/blob/main/%E1%84%8C%E1%85%A5%E1%86%AB%E1%84%8C%E1%85%A1%E1%84%8B%E1%85%B2%E1%86%BC%E1%84%92%E1%85%A1%E1%86%B8%E1%84%80%E1%85%AA-new.jpg?raw=true');
    background-size: cover;
    background-position: center;
}

.box3 {
    /* 네트워크 통신과 */
    display: flex;
    justify-content: space-between;
    margin: 2%;
    width: 95vw;
    height: 73%;
    flex-shrink: 0;
    border-radius: 3vw;
    background-image: url('https://github.com/sudo1652/kwai/blob/main/%E1%84%82%E1%85%A6%E1%84%90%E1%85%B3%E1%84%8B%E1%85%AF%E1%84%8F%E1%85%B3%E1%84%90%E1%85%A9%E1%86%BC%E1%84%89%E1%85%B5%E1%86%AB%E1%84%80%E1%85%AA-new.jpg?raw=true');
    background-size: cover;
    background-position: center;
}

.box4 {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    width: 95vw;
    height: 73%;
    flex-shrink: 0;
    border-radius: 3vw;
    background-image: url('https://github.com/sudo1652/kwai/blob/main/%E1%84%8B%E1%85%B5%E1%86%AB%E1%84%80%E1%85%A9%E1%86%BC%E1%84%8C%E1%85%B5%E1%84%82%E1%85%B3%E1%86%BC%E1%84%8C%E1%85%A5%E1%86%AB%E1%84%80%E1%85%B5%E1%84%80%E1%85%AA-new.jpg?raw=true');
    background-size: cover;
    background-position: center;
}

.box5 {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    width: 95vw;
    height: 73%;
    flex-shrink: 0;
    border-radius: 3vw;
    background-image: url('https://github.com/sudo1652/kwai/blob/main/%E1%84%8B%E1%85%B5%E1%86%AB%E1%84%80%E1%85%A9%E1%86%BC%E1%84%8C%E1%85%B5%E1%84%82%E1%85%B3%E1%86%BC%E1%84%89%E1%85%A9%E1%84%91%E1%85%B3%E1%84%90%E1%85%B3%E1%84%8B%E1%85%B0%E1%84%8B%E1%85%A5%E1%84%80%E1%85%AA-new.jpg?raw=true');
    background-size: cover;
    background-position: center;
}

/* .box1-1, .box1, .box2, .box3, .box4, .box5 {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s, transform 0.6s, visibility 0.6s;
    transition-timing-function: ease-out;
}
.show-on-scroll {
    opacity: 1;
    transform: none;
    visibility: visible;
} */

.box6 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 100%;
    z-index: 1;
    color: white;
    background-color: #64646452;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
    margin: auto;
}

a {
    text-decoration: none;
    color: #4A90EF;
    font-size: calc(13px + 1vw);
    ;
}

a:hover {
    text-decoration: underline;
}

img {
    vertical-align: bottom;
    width: 100%;
    border-radius: 1vw;
}